{% extends "base.html" %}
{% block content %}
<h2>Enroll Student</h2>

<form method="POST">
  <select name="course_id">
    {% for c in courses %}
      <option value="{{ c.course_id }}">{{ c.course_name }}</option>
    {% endfor %}
  </select>

  <select name="student_id">
    {% for s in students %}
      <option value="{{ s.student_id }}">{{ s.roll_no }}</option>
    {% endfor %}
  </select>

  <input name="semester" placeholder="Semester" required>
  <button>Enroll</button>
</form>
{% endblock %}
