{% extends "base.html" %}
{% block content %}

<h2>Create User</h2>

<form method="POST">
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email" required>

  <select name="role" required>
    <option value="student">Student</option>
    <option value="faculty">Faculty</option>
    <option value="admin">Admin</option>
  </select>

  <input name="roll_no" placeholder="Roll No (students only)">
  <input name="year_of_study" type="number" placeholder="Year (students only)">
  <input name="dept_id" type="number" placeholder="Department ID">

  <button>Create</button>
</form>

<p>
Default password: <b>test123</b><br>
User will be forced to reset password on first login.
</p>

{% endblock %}
